.h5p-column {
  background-color: var(--h5p-theme-background);
}

.h5p-container.h5p-standalone.h5p-column {
  padding: var(--h5p-theme-spacing-s);

  @media (max-width: 576px) {
    padding: 0;
  }
}

.h5p-column-content {
  position: relative;
}

.h5p-column-box-container {
  margin: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-xs);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
  border: solid 1px var(--h5p-theme-stroke-1);
  border-radius: var(--h5p-theme-border-radius-large);
  padding: var(--h5p-theme-spacing-xs);
  background-color: var(--h5p-theme-ui-base);
}

.h5p-column-content.h5p-image-slider {
  padding: 0;
}

.h5p-column-content .table {
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
  border-color: #494949;
  border-spacing: 0;
  border-width: 1px;
}
.h5p-column-content.h5p-table,
.h5p-column-content.h5p-advanced-text,
.h5p-column-content.h5p-link {
  margin-top: var(--h5p-theme-spacing-s);
  margin-bottom: var(--h5p-theme-spacing-s);
  padding-left: var(--h5p-theme-spacing-s);
  padding-right: var(--h5p-theme-spacing-s);
}
.h5p-column-content.h5p-video > video {
  width: 100%;
}

/* Align question texts when there's no frame */
.h5p-no-frame > .h5p-column > div > .h5p-question > * {
  margin-left: 0;
  margin-right: 0;
}
.h5p-no-frame > .h5p-column > div > .h5p-question .h5p-question-image-wrap {
  -webkit-transform: translate(0, 1em);
  transform: translate(0, 1em);
  margin: 0 0 1em 0;
  max-width: 100%;
}

/* Special fixes for SCS */
.h5p-no-frame > .h5p-column > div > .h5p-single-choice-set .h5p-sc-alternatives,
.h5p-no-frame > .h5p-column > div > .h5p-single-choice-set .h5p-sc-question {
  margin-left: 0;
  margin-right: 0;
}
.h5p-no-frame > .h5p-column > div > .h5p-single-choice-set .h5p-sc-sound-control {
  top: 0;
  right: 0;
}

/* QS is a bit to eager... */
.h5p-no-frame > .h5p-column > div > .h5p-column-content > .questionset .h5p-question > *:first-child {
  margin-top: 1em;
}

.h5p-column .questionset {
  padding: 0;
  background-color: var(--h5p-theme-ui-base);
}
.h5p-column .question-container {
  all: unset;
}

.h5p-column .h5p-theme .questionset-results {
  margin: calc(-1*var(--h5p-theme-spacing-xs));
  border: solid 1px var(--h5p-theme-stroke-1);
  border-radius: var(--h5p-theme-border-radius-large);
}

/* Align text content when there's no frame */
.h5p-no-frame > .h5p-column > div > .h5p-table,
.h5p-no-frame > .h5p-column > div > .h5p-advanced-text,
.h5p-no-frame > .h5p-column > div > .h5p-link {
  padding-left: 0;
  padding-right: 0;
}

/* Align accordion texts when there's no frame */
.h5p-no-frame > .h5p-column > div > .h5p-accordion {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/* Memory Game */
.h5p-no-frame > .h5p-column > div > .h5p-memory-game .h5p-status {
  padding-left: 0;
  padding-right: 0;
}
.h5p-no-frame > .h5p-column > div > .h5p-memory-game .h5p-feedback {
  margin: 0;
}
.h5p-no-frame > .h5p-column > div > .h5p-memory-game .h5p-memory-card {
  margin-left: 0;
  margin-right: 2em;
}

/* Remove fullscreen for video tags and DQ */
.h5p-interactive-book video::-webkit-media-controls-fullscreen-button,
.h5p-interactive-book .h5p-my-fullscreen-button-enter {
  display: none;
}

/* Fix for footer in QuestionSet and DialogCards */
.h5p-column.h5p-theme .qs-footer.h5p-navigation,
.h5p-column-content.h5p-dialogcards .h5p-navigation {
  margin: 0;
  padding-bottom: var(--h5p-theme-spacing-s);
}

/* In LB we can get two levels of columns so we don't want the background color
  on the "inner" column. */
.h5p-column .h5p-column {
  background-color: revert;
}